
html{ overflow-y: scroll; }
html::-webkit-scrollbar{ display: none; }
.no-scrollbar {
  scrollbar-width: none;       
  -ms-overflow-style: none;   
}

.no-scrollbar::-webkit-scrollbar {
  display: none;          
}
.inertial-scroll {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.25) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.45);
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('/fonts/SF-Pro/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('/fonts/SF-Pro/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
